<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="GotoProduct" stopProcessing="true">
					<match url="^route/product$" ignoreCase="true" />
					<action type="Rewrite" url="/route/product/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoProductDetails" stopProcessing="true">
					<match url="^route/product/details/$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="id=(\d+)" />
					</conditions>
					<action type="Rewrite" url="/route/product/details/index.php?id={C:1}" appendQueryString="false" />
				</rule>
				<rule name="GotoAddProduct" stopProcessing="true">
					<match url="^route/product/add$" ignoreCase="true" />
					<action type="Rewrite" url="/route/product/add/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoUpdateProduct" stopProcessing="true">
					<match url="^route/product/update$" ignoreCase="true" />
					<action type="Rewrite" url="/route/product/update/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoDeleteProduct" stopProcessing="true">
					<match url="^route/product/delete$" ignoreCase="true" />
					<action type="Rewrite" url="/route/product/delete/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoAddReview" stopProcessing="true">
					<match url="^route/review/add$" ignoreCase="true" />
					<action type="Rewrite" url="/route/review/add/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoOrder" stopProcessing="true">
					<match url="^route/order$" ignoreCase="true" />
					<action type="Rewrite" url="/route/order/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoOrderDetails" stopProcessing="true">
					<match url="^route/order/details/$" ignoreCase="true" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="id=(\d+)" />
					</conditions>
					<action type="Rewrite" url="/route/order/details/index.php?id={C:1}" appendQueryString="false" />
				</rule>
				<rule name="GotoCheckShipping" stopProcessing="true">
					<match url="^route/order/shipping$" ignoreCase="true" />
					<action type="Rewrite" url="/route/order/shipping/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoCheckPayment" stopProcessing="true">
					<match url="^route/order/payment$" ignoreCase="true" />
					<action type="Rewrite" url="/route/order/payment/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoAddOrder" stopProcessing="true">
					<match url="^route/order/add$" ignoreCase="true" />
					<action type="Rewrite" url="/route/order/add/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoUpdateOrder" stopProcessing="true">
					<match url="^route/order/update$" ignoreCase="true" />
					<action type="Rewrite" url="/route/order/update/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoLoginUser" stopProcessing="true">
					<match url="^route/user/login$" ignoreCase="true" />
					<action type="Rewrite" url="/route/user/login/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoRegisterUser" stopProcessing="true">
					<match url="^route/user/register$" ignoreCase="true" />
					<action type="Rewrite" url="/route/user/register/index.php" appendQueryString="false" />
				</rule>
				<rule name="GotoUpdateUser" stopProcessing="true">
					<match url="^route/user/update$" ignoreCase="true" />
					<action type="Rewrite" url="/route/user/update/index.php" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>		
	</system.webServer>
</configuration>